<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjm1krXn4P19CSZXvckH532y2Y4mjo_t0</string>
	<key>GCM_SENDER_ID</key>
	<string>962469805154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pzapps.alllanguagesdictionary</string>
	<key>PROJECT_ID</key>
	<string>kaptan-meter</string>
	<key>STORAGE_BUCKET</key>
	<string>kaptan-meter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962469805154:ios:38c4251a17f4090e5c253b</string>
	<key>DATABASE_URL</key>
	<string>https://kaptan-meter.firebaseio.com</string>
</dict>
</plist>